*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f4f4f4;
    font-family:Arial, sans-serif;
    color:#333;
    padding:30px;
}

h1{
    text-align:center;
    color:#0d6efd;
    margin-bottom:25px;
    text-transform:uppercase;
}

form{
    background:white;
    max-width:800px;
    margin:auto;
    padding:25px;
    border-radius:10px;
    border:1px solid #ccc;
    box-shadow:0 0 15px rgba(0,0,0,.15);
}

fieldset{
    border:2px solid #ccc;
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
}

legend{
    background:#0d6efd;
    color:white;
    padding:8px 15px;
    border-radius:5px;
    font-weight:bold;
}

label{
    display:block;
    font-weight:bold;
    margin-bottom:1px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select{
width:70%;
padding:5px;
margin-top:5px;
margin-bottom:10px;
border:1px solid #cccccc;
border-radius:5px;
font-size:15px;
}

input:focus,
select:focus{
    outline:none;
    border:1px solid royalblue;
    box-shadow:0 0 8px rgba(65,105,225,.4);
}